<div class="top_right_controls">
	<%= link_to 'New Collection', new_image_collection_path(:collection => 'collection'), :class => 'btn btn-info' %>
	<%= link_to 'New Gallery', new_image_collection_path(:collection => 'gallery'), :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Image Collections</h1>
</div>

<section class="page_content">
	<% @collections.each do |collection| %>
		<div class="index_item">
			<%= link_to collection.name, image_collection_images_path(collection) %>
		</div>
	<% end %>
</section>